body.vertical-layout.vertical-menu.menu-collapsed .content, body.vertical-layout.vertical-menu.menu-collapsed .footer,
body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-container {
    margin-left: 0 !important;
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar-header,
body.vertical-layout.vertical-menu.menu-collapsed .main-menu {
    width: 0 !important;
}

/*----------SCROLLBAR START-----------*/
/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 2px;
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-image: linear-gradient(to bottom, #9f78ff, #32cafe);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*----------SCROLLBAR END-----------*/

.navigation-main{
    height: 100%;
    overflow-y: auto !important;
}

.custom-control {
    padding-right: 1.5rem;

}
.custom-control-label{
    left: 10px;
}

.custom-control-label::before,
.custom-control-label::after {
    top: 0.625rem !important;
}

ul li .btn-group {
    padding: 5px 20px;
}
.collapse, .collapsing{
    padding: 0.5rem 1.5rem;
}

.collapse .row, .collapsing .row {
    padding: 0;
}

.collapse .form-group {
    margin: 0;
}

.dropdown-menu .list-holder {
    max-height:250px;
}

.card-accordion .card-header2 {
    padding: 0.5rem 1.5rem;
}

.card-accordion .card {
    margin-bottom: 0px;
}

.header-navbar .navbar-container ul.nav li a.menu-toggle-handle {
    padding: 1.7rem 1rem 1.6rem 1rem;
}

a.menu-toggle-handle i {
    font-size: 1.6rem;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu {
    width: 60px;
    -webkit-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    -o-transition: 300ms ease all;
    transition: 300ms ease all;
    -webkit-transform: translateZ(-160px) translateX(-160px);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translateZ(-160px) translateX(-160px);
    -moz-transform: translate3d(0, 0, 0);
    transform: translateZ(-160px) translateX(-160px);
    transform: translate3d(0, 0, 0);
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar-header, body.vertical-layout.vertical-menu.menu-collapsed .main-menu {
    width: 0 !important;
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar-header {
    z-index: 999;
    float: left;
    width: 60px;
}

.example-elem {
    padding: 0.4vw !important;
}

.example-elem .card{
    margin-bottom: 0;
}

.book-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.book-footer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    border-left: 2px solid rgba(0,0,0,0.4);
    border-right: 2px solid rgba(0,0,0,0.4);
    border-radius: 2px;
    margin: 1vw 0;
}

.book-footer::-webkit-scrollbar {
    height: 5px;
}

.book-footer img {
    margin: 0.1vw;
    height: 6vh;
    width: auto;
    flex: 0 0 auto;
    transition-duration: 300ms;
}

.book-footer img:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.3); /* Параметры тени */
    transform: scale(1.01);
}

.collectionIcon{
    top: 10px;
    right: 10px;
    color: white;
}


.image-cover-box {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #DDDDDD;
}

.image-cover-box img{
    width:100%;
    height:auto;
    /*object-fit:cover;*/
    transition: 300ms;
}

.image-cover-box img:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.3); /* Параметры тени */
    transform: scale(1.01);
    border-radius: 0;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu-content .nav-item .card-accordion .card {
    display: none;
}

.modal-content .modal-body .card-content img {
    transition: 300ms;
}

.modal-content .modal-body .card-content img:hover {
    opacity: 0.9;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3); /* Параметры тени */
    transform: scale(1.01);
}

.flipbook-viewport .container {
    z-index: 9;
}

.main.clearfix {
    max-width: 80%;
    margin-bottom: 50px;
}

.bb-custom-wrapper,
.bb-bookblock {
    width: 100%;
}

.bb-flip-initial img,
.bb-page img,
.bb-item img {
    width: 100%;
}

.btn-cancel-search {
    background-color: white;
}

.input-range {
    height: 1rem;
    position: relative;
    width: 80%;
    padding: 1rem 1.5rem;
    margin: 2rem auto;
}

.input-range__label--value {
    position: absolute;
    top: -2.8rem;
}

.input-range__track--active{
    background-image: linear-gradient(to right, #9f78ff, #32cafe);
}

.input-range__slider {
    background-color: #6967ce;
    border: 1px solid #9f78ff;
}


@media screen and (max-width: 992px){
    .main.clearfix {
        max-width: 100%;
    }
    .main, .container > header {
        padding: 1em;
    }
}
